*{font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card {
    width: 500px;
    padding: 20px;
    background-color: #f5f5f5;
    color: rgb(0, 0, 0);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
    border-radius: 15px;
    transition: transform 0.3s;
}
.card:hover{
    transform: scale(1.05);
}
.favorite {
    float: right;
    font-size: 20px;
    cursor: pointer;
} 
.favorite:active{
  transform: scale(1.1);  
}
.card img {
    width:100%;
    border-radius: 10px;   
}
.card h3 {
    margin:8px;
    font-size: 24px;
    text-align: center;
}
.card .info {
    margin:8px;
    font-size: 18px;
    text-align: center;
}
.card .price {
    margin:8px;
    font-size: 24px;
    font-weight: bold;
    color: #2c3e50;
}
.card .old-price {
    margin:8px;
    margin: left 10px;
    font-size: 18px;
    color: #e74c3c;
    text-decoration: line-through;
}
button {
    background: linear-gradient(#4398db, #2ecc71);
    color:white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background: #41d927;
    opacity: 0.3s;
    opacity: 0.8;
}
button:active {
    transform: scale(1.05);
    transform: 0.3s;
}
